* {
    background-color: #abcace;
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
    margin: 0;
    padding: 0
}

.title {
    font-size: 30px;
    margin-left: 312px;
    margin-top: 200px;
}